<div class="row header header_row">
  <div class="col-md-11">
    <h1><%= t('listing_messages') %></h1>
  </div>
  <div class="col-md-1">
    <% if can? :create, Message %>
      <%= link_to glyphicon_with_text('plus', t('new_message')), new_message_path, class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <table class='table' id="nodes" data-source="<%= messages_url(format: :json)%>">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= Message.human_attribute_name('title') %></th>
          <th><%= Message.human_attribute_name('content') %></th>
          <th><%= Message.human_attribute_name('tags') %></th>
          <% if can? :update, Node %>
            <th><%= t('edit') %></th>
            <th><%= t('destroy') %></th>
          <% end %>
        </tr>
      </thead>
        <% b.messages.each do |message| %>
          <tr>
            <td><%= message.id %></td>
            <td><%= message.title %></td>
            <td><%= truncate(ERB::Util.h(message.content), length: 300) %></td>
            <td><%= message.tag_list_name %></td>
            <% if can? :update, Node %>
              <td><%= link_to(t('edit'), edit_message_path(message)) %></td>
              <td><%= link_to(t('destroy'), message, method: :delete, data: { confirm: t('confirmation') }) %></td>
            <% end %>
          </tr>
        <% end %>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
