<table class='table table-striped' id="nodes" data-source="<%= nodes_url(format: :json)%>">
  <thead>
    <tr>
      <th><%= t('node.id') %></th>
      <th><%= t('node.name') %></th>
      <th><%= t('node.description') %></th>
      <th><%= t('node.tag_list') %></th>
      <th>Edit</th>
      <th>Destory</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
