<table class='table' id="nodes" data-source="<%= nodes_url(format: :json)%>">
  <thead>
    <tr>
      <th><%= t('.id') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.tag_list') %></th>
      <th><%= t('.edit') %></th>
      <th><%= t('.destroy') %></th>
    </tr>
  </thead>
    
  <tbody>
  </tbody>
</table>
