<h1><%= t('.title') %></h1>

<% if Node::Vk === b.node %>
  <%= render 'nodes/vk/form' %>
<% else %>
  <%= render 'nodes/email/form' %>
<% end %>

<%= link_to t('show'), b.node %>
<br>
<%= link_to t('back'), nodes_path %>
