<div class="panel panel-default">
  <div class="panel-heading"><%=b.node_name%></div>
  <div class="panel-body">
    <%= b.node.description_human %>
  </div>
  <div class="panel-footer"><%= b.node_tags %></div>
</div>


<%= link_to t('show'), edit_node_path(b.node) %> |
<%= link_to t('back'), nodes_path %>
