<div class="panel panel-default">
  <div class="panel-heading"><%=b.node_name%></div>
  <div class="panel-body">
    <%= b.node.description %>
  </div>
  <div class="panel-footer"><%= b.node_tags %></div>
</div>


<%= link_to 'Edit', edit_node_path(b.node) %> |
<%= link_to 'Back', nodes_path %>
