<%= simple_form_for(b.mass_mailing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :started %>
  </div>

  <div class="form-inputs">
    <%= f.input :message_id, collection: Message.all,
                label_method: ->(m) { m.title },
                value_method: ->(m) { m.id } %>

    <%= f.simple_fields_for :mass_mailing_nodes do |p| %>
      <%= p.input :node_id, collection: Node.all,
                  label_method: ->(n) { n.name },
                  value_method: ->(n) { n.id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
