<%= simple_form_for(b.mass_mailing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :started %>
  </div>

  <div class="form-inputs">
    <%= f.input :message_id, collection: Message.all,
                label_method: ->(m) { m.title },
                value_method: ->(m) { m.id } %>

  </div>

  <div class="form-group string required mass_mailing_nodes_node_id">
    <div class="hidden" id="mass_mailing_nodes_ids" data-ids="<%= b.mass_mailing_nodes_ids %>" >
    </div>
  </div>

  <table class='table table-striped' id="mass_mailing_nodes" data-source="<%= mass_mailing_nodes_url(format: :json)%>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th .checkbox><input name="select_all" value="1" type="checkbox"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
