<%= simple_form_for(b.mass_mailing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true %>
    <%= f.input :started %>
  </div>

  <div class="form-inputs">
    <%= f.input :message_id,
                collection: Message.all,
                label_method: ->(m) { m.title },
                value_method: ->(m) { m.id },
                required: true %>

  </div>

  <div class="form-group string required mass_mailing_nodes_node_id">
    <div class="hidden" id="mass_mailing_nodes_ids" data-ids="<%= b.mass_mailing_nodes_ids %>" >
    </div>
  </div>

  <table class='table table-striped' id="mass_mailing_nodes" data-source="<%= mass_mailing_nodes_url(format: :json)%>">
    <thead>
      <tr>
        <th><%= Node.human_attribute_name(:id) %></th>
        <th><%= Node.human_attribute_name(:name) %></th>
        <th><%= Node.human_attribute_name(:description) %></th>
        <th><%= Node.human_attribute_name(:tags) %></th>
        <th><input name="select_all" value="1" type="checkbox"></th>
      </tr>
    </thead>

    <tbody>
      <% b.nodes.map do |node| %>
        <tr>
          <td><%= node.id %></td>
          <td><%= link_to(node.name, node) %></td>
          <td><%= truncate(ERB::Util.h(node.description_human), length: 300) %></td>
          <td><%= node.tags.map(&:name).join('; ') %></td>
          <td><input type='checkbox' ></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
