<p id="notice"><%= notice %></p>

<h1><%= t('listing_mass_mailings') %></h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Message Title</th>
      <th>Nodes</th>
      <th>Started</th>
      <th>Finished</th>
    </tr>
  </thead>

  <tbody>
    <% @mass_mailings.each do |mass_mailing| %>
      <tr>
        <td><%= mass_mailing.id %></td>
        <td><%= link_to mass_mailing.title, mass_mailing %></td>
        <td><%= link_to mass_mailing.message.title, mass_mailing.message %></td>
        <td><%= mass_mailing.nodes.map(&:name).join(', ') %></td>
        <td><%= mass_mailing.started %></td>
        <td><%= mass_mailing.finished %></td>
        <td><%= link_to 'Edit', edit_mass_mailing_path(mass_mailing) %></td>
        <td><%= link_to 'Destroy', mass_mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mass mailing', new_mass_mailing_path %>
