<div class="row header header_row">
  <div class="col-md-11">
    <h1><%= t('mass_mailings.list') %></h1>
  </div>
  <div class="col-md-1">

    <%= link_to glyphicon_with_text('plus', t('mass_mailings.new')), new_mass_mailing_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th><%= MassMailing.human_attribute_name('id')%></th>
          <th><%= MassMailing.human_attribute_name('title')%></th>
          <th><%= MassMailing.human_attribute_name('message_title')%></th>
          <th><%= MassMailing.human_attribute_name('nodes')%></th>
          <th><%= MassMailing.human_attribute_name('started')%></th>
          <th><%= MassMailing.human_attribute_name('finished')%></th>
          <th><%= t('.retry')%></th>
          <th><%= t('destroy')%></th>
        </tr>
      </thead>

      <tbody>
        <% b.mass_mailings.each do |mass_mailing| %>
          <tr class="<%=mass_mailing_status(mass_mailing)%>">
            <td><%= mass_mailing.id %></td>
            <td><%= link_to mass_mailing.title, mass_mailing %></td>
            <% if mass_mailing.messages.present? %>
              <td>
                <% mass_mailing.messages.each do |message| %>
                  <%= link_to message.title, message %>
                  <br>
                <% end %>
              </td>
            <% else %>
              <td><%= t('.missing.message') %></td>
            <% end %>
            <td><%= mass_mailing.nodes.map(&:name).join(', ') %></td>
            <td><%= time_ago_in_words(mass_mailing.started) if mass_mailing.started %></td>
            <td><%= time_ago_in_words(mass_mailing.finished) if mass_mailing.finished %></td>
            <td><%= link_to t('.retry'), retry_mass_mailing_path(mass_mailing), class: 'btn btn-primary', data: { confirm: t('.confirmation') } %></td>
            <td><%= link_to(t('destroy'), mass_mailing, method: :delete, data: { confirm: t('confirmation') }) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
