<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= b.mass_mailing.title %>
</p>

<p>
  <strong>Started:</strong>
  <%= b.mass_mailing.started %>
</p>

<p>
  <strong>Finished:</strong>
  <%= b.mass_mailing.finished %>
</p>

<%= link_to 'Edit', edit_mass_mailing_path(b.mass_mailing) %> |
<%= link_to 'Back', mass_mailings_path %>
