<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: cabinet_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :language, collection: User::LANGUAGES %>
  </div>
  <hr>
  <div class="form-inputs">
    <%= f.input :vk_login %>
    <%= f.input :vk_password, type: :password %>
    <%= f.input :vk_app_id, input_html: { value: '4840426'} %>
  </div>
  <hr>
  <div class="form-inputs">
    <%= f.input :address, hint: t('.address') %>
    <%= f.input :port, hint: t('.port'), input_html: { value: '587'} %>
    <%= f.input :ssl, hint: t('.ssl'), as: 'boolean' %>
    <%= f.input :tls, hint: t('.tls'), as: 'boolean' %>
    <%= f.input :enable_starttls_auto, as: 'boolean', hint: t('.enable_starttls_auto') %>
    <%= f.input :authentication, collection: User::AUTHENTICATIONS, default: 'plain', hint: t('.authentication') %>
    <%= f.input :domain, hint: t('.domain') %>
    <%= f.input :email_name, hint: t('.email_name') %>
    <%= f.input :email_password, hint: t('.email_password') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
<br>
<%= link_to "Back", :back %>
